@{
    ViewData["Title"] = "Home Page";
}

<section class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">YouTube Ağacı</h1>
            <h2 class="masthead-subheading mb-0">Oynatma Listenize Boyut Katın</h2>
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/img/index/img01.jpg" />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ağaç yapısı</h2>
                    <p>Ağaç yapısı içinde kendinize ait YouTube oynatma listelerinizi oluşturun.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/img/index/img02.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Paylaşın!</h2>
                    <p>Kendiniz için oluşturduğunuz YouTube Ağacınızı başkaları ile paylaşın.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/img/index/img03.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ya da paylaşmayın!</h2>
                    <p>YouTube Ağacınızı kişisel tutun ve kendinize saklayın.</p>
                </div>
            </div>
        </div>
    </div>
</section>