@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">YouTube Ağacı</h1>
            <h2 class="masthead-subheading mb-0">Kendi YouTube Ağacınızı Oluşturun</h2>
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    @*<img class="img-fluid rounded-circle" src="~/lib/template/img/01.jpg" alt="">*@
                    <img class="img-fluid rounded-circle" src="~/img/index/img01-5.png" />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ağaç Yapısı</h2>
                    <p>Kendinize özel YouTube oynatma listesinizi ağaç yapısı içinde oluşturun.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/img/index/img02.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Paylaşın!</h2>
                    <p>Kendiniz için oluşturduğunuz YouTube Ağacınızı başkaları ile paylaşın.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/img/index/img03.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ya da Paylaşmayın!</h2>
                    <p>YouTube Ağacınızı kişisel tutun ve kendinize saklayın.</p>
                </div>
            </div>
        </div>
    </div>
</section>